<div class="home">
    <section>
        <!-- <div class="home__label">Basic</div> -->
        <div class="home__container">
            <div class="home__header">
                <!-- <p>LOGO</p> -->
                <img class="home__header--img" src="assets/logo.png" />
            </div>

            <div class="home__container--div">
                <a class="home__container--enabledButton" mat-flat-button href="/chat">
                    <mat-icon class="home__container--enabledButton">school</mat-icon>
                    Sou vestibulando
                </a>
                <button class="home__container--disabledButton" mat-flat-button disabled>
                    <mat-icon class="home__container--disabledButton">book</mat-icon>
                    Sou recém-formado
                </button>
                <button class="home__container--disabledButton" mat-flat-button disabled>
                    <mat-icon class="home__container--disabledButton">business_center</mat-icon>
                    Já estou no mercado
                </button>
            </div>
        </div>
      </section>
</div>