<div class="notfound">
    <section>
        <!-- <div class="home__label">Basic</div> -->
        <div class="notfound__container">
            <div class="notfound__header">
                <!-- <p>LOGO</p> -->
                <a href="/"><img class="notfound__header--img" src="assets/logo.png"/></a>
            </div>

            <div class="notfound__container--div">
                <p>Caminho sem saída!</p>
            </div>
          <!-- <a mat-button href="https://www.google.com/" target="_blank">Link</a> -->
        </div>
      </section>
</div>